@import "./style/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-blue;
}
h3 {
  padding: 1rem;
  margin: auto;
  color: $color-accent;
}
.App {
  width: 100vw;
  height: 100vh;
  background-color: $color-secondary;
  overflow: auto;
}

//Navigation
.navbar {
  width: 100vw;
  height: 4.6rem;
  border-bottom: 1px solid $color-primary;
  display: flex;
}

.not-found {
  margin: 10rem;
  font-size: 3rem;
  color: red;
}

.login {
  background: $color-primary;
  margin: auto;
  margin-top: 16rem;
  box-shadow: 2px 2px 10px #a9a9a9;
  border-radius: 4px;
  width: 80rem;
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn {
  background: $color-accent;
  border-radius: 6px;
  color: $color-primary;
  cursor: pointer;
  font-weight: 500;
  line-height: 22px;
  padding: 1rem;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in-out;
  border: 1px solid $color-accent;
  &:hover {
    background: $color-primary;
    color: $color-accent;
  }
}
